html, body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0
    }
.first{
    width:100%;
    height:1040px;
    background: url(img/Shape1.png) round;
}
.first-header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.signup{
    font-weight: 500;
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}
.header__menu{
    display: flex;
}
.appson{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 140px;
    width: 180px;
    height: 100px;
    background-color: #0f7bff;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
}
.first-header-home{
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 44px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f7bff;
}
.first-header-a{
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 44px;
    text-decoration: none;
    text-transform: uppercase;
    color: #929292;
}
.margleft30{
    margin-left: 30px;
}
.button1{
    font-weight: 600;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background: #0063dd;
    border: 2px solid #0063dd;
    border-radius: 30px 30px;
    height: 53px;
    width: 165px;
    margin-top: -20px;
    margin-right: 140px;
    overflow: hidden;
    display: block;
}
.button2{
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #0063dd;
    border: 2px solid #0063dd;
    border-radius: 30px 30px;
    height: 48px;
    width: 165px;
    margin-top: 25px;
    overflow: hidden;
    display: block;
}
.button2:hover{
    color: #0f7bff;
    background: #ffffff;
    border: 2px solid #0f7bff;
}
.button1:hover{
    color: #0f7bff;
    background: #ffffff;
    border: 2px solid #0f7bff;
}
.first-middle-1{
    display: flex;
    justify-content: center;
}
.first-middle-2{
    width: 620px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-middle-buttons{
    display: flex;
    flex-direction: row;
}
.best-desk{
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    color: #333333;
}
.lorem-middle{
    text-align: center;
    font-size: 16px;
    color: #9fa0a0;
}
.first-bottom{
    display: flex;
    justify-content: center;
}
.device-back{
    height: 100%;
    z-index: 1;
    margin-top: 40px;
}
.device-middle{
    margin-left: -140px;
    margin-right: -140px;
    margin-top: -70px;
    z-index: 2;
}
.index{
    z-index: 3;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 100%;
    height: 635px;
    background-image: url(img/bg.png);
}
.second-blocks{
    z-index: 3;
    display: flex;
    justify-content: center;
}
.second-block{
    background-color: #ffffff;
    border-radius: 2px;
    width: 360px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-block-middle{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 2px;
    width: 360px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-block{
    height: 70px;
    width: 70px;
    margin-top: 40px;
}
.title-block{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.lorem-block{
    font-size: 16px;
    text-align: center;
    color: #929292;
    line-height: 1.5;
}
.third{
    width: 100%;
    height: 1190px;
    background: url(img/Background.png) round;
    background-size: 100%;
}
.third-blocks{   
    display: flex;
    justify-content: center;
}
.third-screan{
    margin-top: 60px;
    display: flex;
}
.screan-top-left{
    margin-left: 80px;
}
.screan-top-right{
    margin-top: 30px;
    width: 90%;
    height: 90%;
    margin-left: -200px;
}
.screan-bot-left{
    margin-left: 20px;
}
.screan-bot-right{
    margin-top: 30px;
    width: 90%;
    height: 90%;
    margin-left: -180px;
}
.third-text-top{
    padding-left: 100px;
    width: 555px;
    height: 220px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.third-text-bot{
    margin-right: 20px;
    width: 555px;
    height: 220px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.lorem-block-left{
    line-height: 1.5;
    width: 540px;
    height: 210px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #929292;
}
.third-title{
    font-weight: 600;
    margin-top: 225px;
    font-size: 32px;
    color: #333333;
}
.more{
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #0f7bff;
}
.fourth{
    width: 100%;
    height: 645px;
    background-image: url(img/Line.png), url(img/bgHow.png);
    background-repeat: no-repeat, round;
    background-position: bottom 295px center, center;
}
.fourth-lorem-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth-title{
    background: url(img/2.png) no-repeat, url(img/1.png) no-repeat;
    background-position: bottom 8px right 75px, bottom 0px right 110px;
    padding-top: 150px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 32px;
    color: #333333;
}
.fourth-lorem-title{
    font-weight: 500;
    width: 100%;
    margin-top: 25px;
    font-size: 16px;
    color: #929292;
    text-align: center;
}
.progress{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.fourth-lorem{
    font-weight: 500;
    margin-top: 30px;
    font-size: 16px;
    color: #929292;
    text-align: center;
}
.progress-block{
    margin-left: 45px;
    margin-right: 45px;
    width: 300px;
    height: 220px;
}
.fourth-title-progress{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    color: #333333;
}
.img-progress{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}
.fifth{
    width: 100%;
    height: 835px;
    background-image: url(img/BackgroundPrice.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.period{
    width: 375px;
    height: 590px;
}
.price{
    margin-left: 15px;
    margin-right: 15px;
    width: 360px;
    height: 576px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 68px 0px rgba(165, 165, 165, 0.25);
}
.fifth-img{
    margin-top: 40px;
    margin-left: 130px;
}
.fifth-title{
    margin-top: 30px;
    text-align: center;
}
.line{
    height: 2px;
    margin-left: 108px;
    width: 145px;
    color: #e0e0e0;
}
.params{
    text-align: center;
    color: #929292;
    margin-top: 20px;
    font-weight: 500;
}
.dol{
    font-size: 16px;
    color: #0f7bff;
    font-weight: 600;
    text-align: center;
}
.price-check-text{
    margin-top: 26px;
    font-size: 36px;
    color: #0f7bff;
    font-weight: 600;
    text-align: center;
}
.buy{
    margin-left: 100px;
}
.period{
    width: 360px;
    height: 245px;
    margin-right: 40px;
}
.fifth-period-title{
    font-size: 32px;
    text-align: left;
    color: #333333;
    margin-bottom: 40px;
}
.fifth-period-lorem{
    color: #929292;
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 1.5;
}
.fifth-buttons{
    display: flex;
    justify-content: left;
}
.button4{
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #0063dd;
    border: 2px solid #0063dd;
    border-radius: 0 30px 30px 0;
    height: 48px;
    width: 165px;
    overflow: hidden;
    display: block;
}
.button3{
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #0063dd;
    border: 2px solid #0063dd;
    border-radius: 30px 0 0 30px;
    height: 48px;
    width: 165px;
    overflow: hidden;
    display: block;
}
.button3:hover{
    color: #0f7bff;
    background: #ffffff;
    border: 2px solid #0f7bff;
}
.button4:hover{
    color: #0f7bff;
    background: #ffffff;
    border: 2px solid #0f7bff;
}
.sixth{
    width: 100%;
    height: 610px;
    background-image: url(img/bgTestim.png);
    display: flex;
    justify-content: left;
    align-items: center;
}
 /* General styles */
.sim-slider {
    position: relative;
    width: 1000px;
    height: 250px;
    margin-left: 113px;
}
.trust{
    font-size: 32px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 50px;
}
.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.sim-slider-element {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}
.twit{
      margin-left: 160px;
  }
.mesage{
    margin-right: 30px;
    align-items: center;
    width: 360px;
    height: 210px;
    background-color: #ffffff;
}
.name{
      margin-top: 40px;
      margin-bottom: 15px;
      margin-left: 30px;
  }
.post{
      margin-bottom: 30px;
      color: #a1a1a1;
      font-weight: 500;
      margin-left: 30px;
  }
.lorem-post{
      color: #a1a1a1;
      font-weight: 500;
      margin-left: 30px;
} 
div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: 3;
    text-align: left;
  }
span.sim-dot {
  width: 30px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #0f7bff;
  border-radius: 5px;
  cursor: pointer;
}
.seventh{
    background-image: url(img/bgLatest.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 960px;
    align-items: center;
}
.latest{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    margin-bottom: 50px;
}
.latest-title{
    background: url(img/2.png) no-repeat, url(img/1.png) no-repeat;
    background-position: bottom 8px right 320px, bottom 0px right 365px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
    color: #333333;
    text-align: center;
}
.seventh-blocks{
    width: 100%;
    display: flex;
    justify-content: center;
}
.seventh-left{
    margin-right: 15px;
    width: 555px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.seventh-right{
    margin-left: 15px;
    width: 555px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.news{
    width: 555px;
    height: 125px;
    display: flex;
    justify-content: left;
}
.seventh-left-title{
    font-weight: 600;
    font-size: 24px;
    color: #0f7bff;
    margin-top: 40px;
    text-decoration: none;
    margin-bottom: 30px;
}
.news-title{
    font-weight: 600;
    color: #333333;
    font-size: 18px;
    text-decoration: none;
}
.marginbot40{
    margin-bottom: 40px;
}
.seventh-lorem{
    color: #929292;
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 30px;
}
.eighth{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/bgFree.png);
}
.eighth-title{
    font-size: 32px;
    color: #333333;
    font-weight: 600;
}
.eighth-lorem{
    color: #929292;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.eighth-left{
    margin-right: 80px;
}
.eighth-right{
    margin-left: 80px;
}
.started{
    font-weight: 600;
    line-height: 75px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #0f7bff;
    border: 2px solid #0f7bff;
    border-radius: 5px 5px;
    height: 75px;
    width: 265px;
    overflow: hidden;
    display: block;
}
.started:hover{
    color: #0f7bff;
    background: #ffffff;
    border: 2px solid #0f7bff;
}
.ninth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/BackgroundSub.png);
    width: 100%;
    height: 385px;
}
.inemail{
    width: 390px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    border: 2px solid #ffffff;
    background-color: #0f7bff;
    padding-left: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subbut{
    font-weight: 700;
    line-height: 62px;
    text-align: center;
    text-decoration: none;
    color: #0063dd;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0 30px 30px 0;
    height: 62px;
    width: 165px;
    overflow: hidden;
    display: block;
}
.subbut:hover{
    color: #ffffff;
    background: #0063dd;
    border: 2px solid #0063dd;
}
.appsonlast{
    font-weight: 600;
    text-align: center;
    font-size: 36px;
    color: white;
}
.footer{
    width: 100%;
    height: 100px;
    background-image: url(img/BackgroundSub.png);
}
.white{
    height: 1px;
    color: #ffffff;
    margin: 0;
}
.footer-row{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.copy{
    font-size: 16px;
    color: #ffffff;
}
.margright24{
    margin-right: 240px;
}
.margright10{
    margin-right: 100px;
}
.priv{
    font-size: 16px;
    color: #bdccdd;
    text-decoration: none;
    margin-left: 40px;
}
.soc{
    margin-left: 15px;
}
.scroll{
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 9999;
    bottom: 25px;
    right: 150px;
}
.scrolldown{
    z-index: 9999;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 48.3%;
    top: 1008px;
}
@media (min-width: 769px) and (max-width: 1280px) {
    h1{font-size: 16px !important;}
    h2{font-size: 12px !important;}
    h3{font-size: 12px !important;}
    h4{font-size: 12px !important;}
    a{font-size: 12px !important;}
    .button1{
        width: 100px;
        height: 35px;
        line-height: 37px;
        margin-right: 50px;
        margin-top: -10px;
    }
    .button2{
        width: 100px;
        height: 35px;
        line-height: 37px;
    }
    .button3{
        width: 100px;
        height: 35px;
        line-height: 37px;
    }
    .button4{
        width: 100px;
        height: 35px;
        line-height: 37px;
    }
    .first{
        height: 400px;
    }
    .signup{
        margin-right: 10px;
    }
    .appson{
        position: absolute;
        top: 0;
        left: 50;
    }
    .sixth-img{
        visibility: hidden;
    }
    .device-back{
        visibility: hidden;
    }
    .device-middle{
        visibility: hidden;
    }
    .screan-bot-left{
        margin-top: 15px;
        width: 60%;
        height: 60%;
    }
    .screan-bot-right{
        visibility: hidden;
    }
    .screan-top-right{
        visibility: hidden;
    }
    .screan-top-left{
        margin-top: 15px;
        width: 60%;
        height: 60%;
    }
    .lorem-block-left{
        width: 500px;
        font-size: 12px;
    }
    .third-title{
        margin-top: 50px;
        font-size: 24px;
    }   
    .second-block-middle{
        width: 200px;
    }  
    .second-block{
        width: 200px;
    } 
    .third{
        height: 700px;
        background-image: url(img/bgLatest.png);
    }
    .third-blocks{
        width: 100%;
        height: 50%;
    }
    .third-text-top{
        width: 500px;
        margin-top: 20px;
        padding-left: 0;
    }
    .third-text-bot{
        width: 500px;
        margin-left: 30px;
    }
    .scroll{visibility:hidden;}
    .scrolldown{visibility:hidden;}
    .img-progress{
        margin-left: 40px;
    }
    .price{
        margin-left: 10px;
        margin-right: 10px;
        width: 200px;
        height: 550px;
    }
    .fifth-img{
        margin-top: 30px;
        margin-left: 60px;
    }
    .line{
        height: 2px;
        margin-left: 30px;
        width: 145px;
        color: #e0e0e0;
    }
    .buy{
        margin-left: 40px;
    }
    .period{
        margin-left: 20px;
    }
    .sixth-left{
        width: 1px;
        visibility: hidden;
    }
    .sim-slider{
        margin-right: 50px;
    }
    .margright24{
        margin-right: 70px;
    }
    .margright10{
        margin-right: 20px;
    }
    .seventh-left{
        margin-right: 15px;
        width: 300px;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .seventh-right{
        margin-left: 15px;
        width: 300px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .news-title{
        width: 150px;
    }
    .margleft30{
        width: 150px;
    }
    .marginbot40{
        margin-bottom: 30px;
    }
    .seventh-lorem{
        width: 150px;
    }
    .screan-top-left{
        margin-left: 20px;
    }
    .lorem-middle{
        color: #333333;
    }
    .scroll{
        visibility: hidden;
    }
    .seventh{
        height: 700px;
    }
    .latest-title{
        padding-top: 40px;
    }
    .fourth{
        background-position: bottom 420px center, center;
    }
    .fourth-title{
        padding-top: 50px;
        background-position: bottom 8px right 25px, bottom 0px right 65px;
    }
}
@media (max-width: 1024px) {
    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
        }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 21px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 14px;
    }
    .header__nav {
        display: none;
    }

    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .header__nav.open-menu {
        left: 0;
    }
    .header__menu {
        display: block;
    }

    .header__nav {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
    }
}
@media (max-width: 768px) {
    h1{font-size: 14px !important;}
    h2{font-size: 10px !important;}
    h3{font-size: 10px !important;}
    h4{font-size: 10px !important;}
    a{font-size: 10px !important;}
    .button1{
        width: 70px;
        height: 37px;
        line-height: 37px;
        margin-right: 3px;
    }
    .button2{
        width: 100px;
        height: 35px;
        line-height: 37px;
    }
    .button3{
        width: 100px;
        height: 35px;
        line-height: 37px;
    }
    .button4{
        width: 100px;
        height: 35px;
        line-height: 37px;
    }
    .first{
        height: 400px;
    }
    .signup{
        margin-right: 10px;
    }
    .appson{
        margin-left: 10px;
    }
    .sixth-img{
        visibility: hidden;
    }
    .device-back{
        visibility: hidden;
    }
    .device-middle{
        visibility: hidden;
    }
    .screan-bot-left{
        visibility: hidden;
    }
    .screan-bot-right{
        visibility: hidden;
    }
    .screan-top-right{
        visibility: hidden;
    }
    .screan-top-left{
        visibility: hidden;
    }
    .lorem-block-left{
        width: 300px;
        font-size: 12px;
    }
    .third-title{
        margin-top: 50px;
        font-size: 24px;
    }   
    .second-block-middle{
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
    }  
    .second-block{
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
    } 
    .third{
        height: 700px;
        background-image: url(img/bgLatest.png);
    }
    .third-blocks{
        width: 100%;
        height: 50%;
    }
    .third-text-top{
        margin-left: 30px;
        width: 500px;
        margin-top: 20px;
        padding-left: 0;
    }
    .third-text-bot{
        width: 500px;
        margin-left: 30px;
    }
    .scroll{visibility:hidden;}
    .scrolldown{visibility:hidden;}
    .img-progress{
        margin-left: 40px;
    }
    .price{
        margin-left: 8px;
        margin-right: 8px;
        width: 150px;
        height: 500px;
    }
    .fifth-img{
        margin-top: 30px;
        margin-left: 30px;
    }
    .line{
        height: 2px;
        margin-left: 30px;
        width: 90px;
        color: #e0e0e0;
    }
    .buy{
        margin-left: 20px;
    }
    .period{
        margin-right: 10px;
        width: 150px;
        margin-left: 20px;
    }
    .sixth-left{
        width: 1px;
        visibility: hidden;
    }
    .sim-slider{
        margin-right: 90px;
    }
    .twit{
       visibility: hidden;
    }
    .mesage{
        width: 150px;
        margin-right: 15px;
    }
    .margright24{
        margin-right: 70px;
    }
    .margright10{
        margin-right: 20px;
    }
    .seventh-left{
        margin-left: 30px;
        margin-right: 15px;
        width: 100%;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .seventh-right{
        width: 0%;
        height: 0%;
       visibility: hidden;
    }
    .news-title{
        width: 150px;
    }
    .marginbot40{
        margin-bottom: 30px;
    }
    .seventh-lorem{
        width: 150px;
    }
    .screan-top-left{
        margin-left: 20px;
    }
    .lorem-middle{
        color: #333333;
    }
    .scroll{
        visibility: hidden;
    }
    .fourth-title{
        padding-top: 20px;
        background-position: bottom 8px right 75px, bottom 0px right 80px;
    }
    .latest{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .seventh{
        height: 700px;
    }
    .latest-title{
        padding-top: 40px;
        background-position: bottom 7px right 205px, bottom 0px right 245px;
    }
    .sixth{
        height: 550px;
    }
    .fifth{
        height: 600px;
    }
    .fourth{
        height: 450px;
        background-image: url(img/bgHow.png);
        background-repeat: round;
        background-position: center;
    }
    .img-progress{
        margin-left: 10px;
    }
    .progress-block{
        margin-right: 30px;
        margin-left: 30px;
    }
    .started{
        line-height: 50px;
        height: 50px;
        width: 180px;
    }
    .inemail{
        width: 280px;
    }
    .third-screan{
        width: 0;
        height: 0;
    }
}